In [368]:
import numpy as np
import pandas as pd
import ast
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [369]:
#Reading datasets
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [370]:
#Evaluating dataset schema
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [371]:
#Evaluating dataset schema
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [372]:
#Merging two datasets for increasing efectiveness and reducing unneccessary extra variables
movies=movies.merge(credits,on='title',how='left')

In [373]:
movies.shape

(4809, 23)

In [374]:
#useful columns which can be used to determine recommendation
#genres,id,keywords,title,overview,cast,crew
movies.info()
#releasedate to be done  at later stage vote_Count and avergae can also be taken into account

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [375]:
movies['original_language'].value_counts()
#english 4520 therefore not relevant

en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: original_language, dtype: int64

In [376]:
# redefining and taking the useful columns from our dataset
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [377]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [378]:
#checking null value
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [379]:
# fixing missing data
movies.dropna(inplace=True)

In [380]:
#checking duplicate data
movies.duplicated().sum()

0

In [381]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [382]:
# converting to list
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [383]:
#converting genres section  to readable format
movies['genres']=movies['genres'].apply(convert)

In [384]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [385]:
#converting genres section  to readable format
movies['keywords']=movies['keywords'].apply(convert)

In [386]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [387]:
def convert_1(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=3:
            L.append(i['name'])
            counter+=1
        else:
            break
        return L
        
    return L

In [388]:
movies['cast']=movies['cast'].apply(convert)

In [389]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [390]:
def fetch_crew(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
        if i['job']=='Producer':
            L.append(i['name'])
        if i['job']=='Writing':
            L.append(i['name'])
            

    return L

In [391]:
movies['crew']=movies['crew'].apply(fetch_crew)

In [392]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[James Cameron, James Cameron, Jon Landau]"
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Gore Verbinski, Jerry Bruckheimer, Eric McLeo..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[Sam Mendes, Barbara Broccoli, Michael G. Wilson]"
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[Charles Roven, Christopher Nolan, Christopher..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[Andrew Stanton, Colin Wilson, Jim Morris, Lin..."

In [393]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [394]:
#changing and splitting each word by word of overview
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [395]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[James Cameron, James Cameron, Jon Landau]"
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Gore Verbinski, Jerry Bruckheimer, Eric McLeo..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[Sam Mendes, Barbara Broccoli, Michael G. Wilson]"
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[Charles Roven, Christopher Nolan, Christopher..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[Andrew Stanton, Colin Wilson, Jim Morris, Lin..."

In [396]:
#Removing spaces so that our model doesn't get confused between similar first  names  or genres etc
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])

In [397]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...","[JamesCameron, JamesCameron, JonLandau]"
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...","[GoreVerbinski, JerryBruckheimer, EricMcLeod, ..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...","[SamMendes, BarbaraBroccoli, MichaelG.Wilson]"
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...","[CharlesRoven, ChristopherNolan, ChristopherNo..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...","[AndrewStanton, ColinWilson, JimMorris, Lindse..."

In [398]:
movies['tags']=movies['overview']+movies['genres']+movies['cast']+movies['crew']+movies['keywords']

In [399]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...","[JamesCameron, JamesCameron, JonLandau]","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...","[GoreVerbinski, JerryBruckheimer, EricMcLeod, ...","[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...","[SamMendes, BarbaraBroccoli, MichaelG.Wilson]","[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...","[CharlesRoven, ChristopherNolan, ChristopherNo...","[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...","[AndrewStanton, ColinWilson, JimMorris, Lindse...","[John, Carter, is, a, war-weary,, former, mili..."

In [400]:
new_movies=movies[['movie_id','title','tags']]

In [401]:
#keeping relevant details from movies for system
new_movies

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [402]:
#converting to string from the list
new_movies['tags']=new_movies['tags'].apply(lambda x:" ".join(x))

C:\Users\Shreya Mishra\AppData\Local\Temp\ipykernel_13896\2403522765.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags']=new_movies['tags'].apply(lambda x:" ".join(x))

In [403]:
new_movies.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [404]:
new_movies['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction SamWorthington ZoeSaldana SigourneyWeaver StephenLang MichelleRodriguez GiovanniRibisi JoelDavidMoore CCHPounder WesStudi LazAlonso DileepRao MattGerald SeanAnthonyMoran JasonWhyte ScottLawrence KellyKilgour JamesPatrickPitt SeanPatrickMurphy PeterDillon KevinDorman KelsonHenderson DavidVanHorn JacobTomuri MichaelBlain-Rozgay JonCurry LukeHawker WoodySchultz PeterMensah SoniaYee JahnelCurfman IlramChoi KylaWarren LisaRoumain DebraWilson ChrisMala TaylorKibby JodieLandau JulieLamm CullenB.Madden JosephBradyMadden FrankieTorres AustinWilson SaraWilson TamicaWashington-Miller LucyBriant NathanMeister GerryBlair MatthewChamberlain PaulYates WrayWilson JamesGaylyn MelvinLenoClarkIII CarvonFutrell BrandonJelkes MicahMoch HanniyahMuhammad ChristopherNolen ChristaOliver AprilMarieThomas BravitaA.Threatt ColinBleasdale MikeBodnar MattClayton NicoleDionne JamieHarrison AllanHenry AnthonyIngruber AshleyJeffery DeanKnowsley JosephMika-Hunt TerryNotary KaiPantano LoganPithyou StuartPollock Raja GarethRuck RhianSheehan T.J.Storm JodieTaylor AliciaVela-Bailey RichardWhiteside NikieZambo JuleneRenee JamesCameron JamesCameron JonLandau cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d'

In [405]:
#converting to lowercase for clean data
new_movies['tags']=new_movies['tags'].apply(lambda x:x.lower())

C:\Users\Shreya Mishra\AppData\Local\Temp\ipykernel_13896\2947831716.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags']=new_movies['tags'].apply(lambda x:x.lower())

In [406]:
new_movies.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [407]:
#taking into account only root words so that different forms of the same word don't contribute in our nlp model
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [408]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
        return " ".join(y)

In [409]:
new_movies['tags']=new_movies['tags'].apply(stem)

C:\Users\Shreya Mishra\AppData\Local\Temp\ipykernel_13896\2598606076.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags']=new_movies['tags'].apply(stem)

In [410]:
#Starting of TF-IDF model
#creating instance for TF-IDF NLP model
tfidf=TfidfVectorizer()

In [411]:
transformed = tfidf.fit_transform(new_movies['tags']).toarray()

In [412]:
transformed

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [413]:
tfidf.get_feature_names()

c:\Users\Shreya Mishra\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['100',
 '11',
 '12',
 '15',
 '16',
 '17',
 '1910',
 '1921',
 '1950',
 '1971',
 '1982',
 '20',
 '200',
 '2009',
 '2016',
 '2046',
 '20th',
 '28',
 '400',
 '48',
 '66',
 '6th',
 '70',
 '84',
 '86',
 '88',
 'aaa',
 'aaron',
 'abbi',
 'abortionist',
 'about',
 'academi',
 'accid',
 'accomplish',
 'action',
 'actress',
 'adam',
 'adapt',
 'admir',
 'admit',
 'adopt',
 'adventur',
 'advertis',
 'affabl',
 'after',
 'against',
 'age',
 'aged',
 'agent',
 'aibileen',
 'aidan',
 'aileen',
 'aim',
 'ajami',
 'al',
 'alan',
 'albert',
 'alcohol',
 'alex',
 'alexander',
 'alexia',
 'alic',
 'alice',
 'alien',
 'all',
 'alli',
 'almost',
 'along',
 'although',
 'altruist',
 'alyssa',
 'amalia',
 'amanda',
 'ambiti',
 'america',
 'american',
 'amiabl',
 'amidst',
 'among',
 'an',
 'anakin',
 'and',
 'andi',
 'andrew',
 'angela',
 'angie',
 'anim',
 'annabel',
 'annie',
 'anton',
 'apart',
 'approach',
 'aragorn',
 'archaeologist',
 'archetyp',
 'archiv',
 'aris',
 'arkin',
 'arm',
 'arn',
 'arrogant',
 'art',
 'arthur',
 'arti',
 'as',
 'ash',
 'ashitaka',
 'aspect',
 'aspir',
 'assassin',
 'astronaut',
 'astérix',
 'at',
 'athlet',
 'august',
 'aussi',
 'australian',
 'austrian',
 'author',
 'autobiograph',
 'autumn',
 'awkward',
 'ayurveda',
 'babe',
 'babi',
 'bachelor',
 'back',
 'backup',
 'bahia',
 'balthazar',
 'bambi',
 'bank',
 'baptist',
 'barney',
 'barri',
 'bas',
 'base',
 'bathori',
 'batman',
 'beatric',
 'beauti',
 'beautiful',
 'becaus',
 'becca',
 'befor',
 'begin',
 'behrani',
 'believ',
 'belka',
 'bella',
 'ben',
 'benjamin',
 'berlin',
 'best',
 'beth',
 'betray',
 'better',
 'betti',
 'between',
 'beyond',
 'bi',
 'bianca',
 'biker',
 'bilbo',
 'bill',
 'billi',
 'billionair',
 'biograph',
 'biographi',
 'birde',
 'bizarr',
 'blend',
 'bob',
 'bobbi',
 'bolt',
 'bond',
 'boog',
 'book',
 'bore',
 'born',
 'both',
 'bounc',
 'bound',
 'bounti',
 'bourn',
 'boy',
 'boyz',
 'brad',
 'brandon',
 'brave',
 'break',
 'breast',
 'bree',
 'brennan',
 'brian',
 'brick',
 'bridget',
 'brilliant',
 'britain',
 'british',
 'britt',
 'brokeback',
 'brooklyn',
 'bruce',
 'bubba',
 'buck',
 'bucum',
 'bud',
 'bueno',
 'bug',
 'bumbl',
 'burger',
 'businessman',
 'by',
 'cab',
 'cabbie',
 'cadi',
 'caiu',
 'cal',
 'cale',
 'caleb',
 'call',
 'calvin',
 'capitol',
 'capt',
 'captain',
 'captiv',
 'captur',
 'carl',
 'carmen',
 'carol',
 'carolin',
 'carrie',
 'cedric',
 'celest',
 'celestin',
 'centuri',
 'challeng',
 'chao',
 'chapman',
 'charl',
 'charli',
 'charlie',
 'charlott',
 'chart',
 'chauffeur',
 'cheese',
 'chelio',
 'chicago',
 'childhood',
 'chili',
 'chon',
 'chri',
 'chrissi',
 'christin',
 'christina',
 'christma',
 'chronolog',
 'chuck',
 'chucki',
 'chuckie',
 'cia',
 'cidad',
 'cindi',
 'circu',
 'citi',
 'clair',
 'clarenc',
 'clark',
 'class',
 'clay',
 'clear',
 'climb',
 'cobb',
 'cocki',
 'codi',
 'cohabit',
 'col',
 'colin',
 'colleg',
 'colonel',
 'columbu',
 'com',
 'combat',
 'come',
 'comedi',
 'commentator',
 'commerci',
 'commun',
 'complet',
 'comput',
 'conni',
 'conrad',
 'construct',
 'contact',
 'continu',
 'control',
 'conveni',
 'corki',
 'corky',
 'corpor',
 'could',
 'countless',
 'cousins',
 'cover',
 'crack',
 'craig',
 'creat',
 'crew',
 'cross',
 'curs',
 'cw',
 'dahlia',
 'dale',
 'damon',
 'dan',
 'danger',
 'daniel',
 'danni',
 'danny',
 'dar',
 'dariu',
 'darren',
 'daryl',
 'date',
 'dave',
 'david',
 'dawn',
 'deadpool',
 'deal',
 'dean',
 'deckard',
 'decor',
 'dedic',
 'deep',
 'deepli',
 'deform',
 'denni',
 'dentist',
 'depress',
 'depression',
 'deputi',
 'der',
 'derek',
 'desper',
 'despit',
 'despond',
 'detect',
 'determin',
 'detroit',
 'deuc',
 'dev',
 'dex',
 'diamond',
 'diego',
 'diplomats',
 'direct',
 'director',
 'dirti',
 'discov',
 'disench',
 'disgrac',
 'dispatch',
 'district',
 'disturb',
 'doctor',
 'documentari',
 'dogtown',
 'domen',
 'don',
 'donato',
 'donna',
 'doormat',
 'dorian',
 'dorothi',
 'dorothy',
 'double',
 'doug',
 'down',
 'dr',
 'dracula',
 'dragon',
 'drama',
 'dramat',
 'dramatis',
 'drawn',
 'dray',
 'dream',
 'drew',
 'drina',
 'driven',
 'driver',
 'du',
 'due',
 'duet',
 'duffi',
 'duncan',
 'dunson',
 'dure',
 'dutch',
 'each',
 'earli',
 'ec',
 'eccentr',
 'eddi',
 'eden',
 'edg',
 'edmond',
 'edward',
 'egyptologist',
 'eight',
 'eighti',
 'el',
 'elektra',
 'eleven',
 'eliza',
 'elizabeth',
 'ell',
 'ella',
 'elli',
 'elliot',
 'elmo',
 'elsa',
 'elvi',
 'emili',
 'emma',
 'employe',
 'en',
 'end',
 'enemi',
 'enforc',
 'engin',
 'english',
 'enrag',
 'enter',
 'era',
 'eric',
 'erin',
 'errol',
 'erstwhil',
 'escap',
 'esteem',
 'estrang',
 'ethan',
 'eva',
 'evan',
 'even',
 'event',
 'ever',
 'everi',
 'everybodi',
 'everyon',
 'everyth',
 'evil',
 'ex',
 'exactli',
 'except',
 'experi',
 'explor',
 'face',
 'fact',
 'fail',
 'famili',
 'famou',
 'far',
 'fast',
 'fbi',
 'fear',
 'fed',
 'federal',
 'feel',
 'femal',
 'fifteen',
 'fifti',
 'fill',
 'film',
 'filmmak',
 'financi',
 'find',
 'fire',
 'firefight',
 'five',
 'flamboyantli',
 'fledgl',
 'fletcher',
 'folklor',
 'follow',
 'foolish',
 'for',
 'forc',
 'ford',
 'forens',
 'forks',
 'former',
 'forrest',
 'found',
 'foundl',
 'four',
 'fourteen',
 'fourth',
 'frame',
 'franci',
 'frank',
 'franki',
 'fred',
 'freddi',
 'freddie',
 'freddy',
 'frederick',
 'french',
 'frida',
 'friend',
 'friends',
 'frodo',
 'from',
 'fugit',
 'furiou',
 'futurist',
 'gabita',
 'gabriel',
 'galaxina',
 'gang',
 'garfield',
 'gari',
 'gary',
 'gener',
 'genet',
 'geophysicist',
 'georg',
 'george',
 'georgia',
 'get',
 'ghost',
 'gift',
 'gigli',
 'gilbert',
 'gile',
 'girl',
 'give',
 'given',
 'glendon',
 'glengarri',
 'global',
 'go',
 'god',
 'godzilla',
 'goo',
 'good',
 'gorgeou',
 'govern',
 'grace',
 'gradi',
 'greed',
 'greg',
 'gretta',
 'griev',
 'griff',
 'gritti',
 'ground',
 'grow',
 'gru',
 'gu',
 'guillermo',
 'guns',
 'gunsling',
 'gwyneth',
 'haley',
 'half',
 'hamlet',
 'hancock',
 'handsome',
 'hanna',
 'hannah',
 'hapless',
 'happi',
 'hard',
 'hardflip',
 'harper',
 'harri',
 'harriet',
 'harry',
 'harvard',
 'hassl',
 'have',
 'hazen',
 'he',
 'heartbeep',
 'heather',
 'heaven',
 'held',
 'helen',
 'heli',
 'henri',
 'hi',
 'hick',
 'high',
 'hilarity',
 'hire',
 'histor',
 'histori',
 'hitman',
 'holden',
 'holli',
 'hollywood',
 'home',
 'homicid',
 'hondo',
 'honey',
 'hope',
 'horty',
 'hot',
 'hotshot',
 'housewif',
 'how',
 'hoyl',
 'hubert',
 'hud',
 'hugo',
 'human',
 'humans',
 'humbert',
 'huo',
 'hushpuppy',
 'ice',
 'iconoclastic',
 'if',
 'ignor',
 'ike',
 'immedi',
 'immort',
 'in',
 'indi',
 'indian',
 'industri',
 'innoc',
 'insan',
 'insid',
 'inspir',
 'instead',
 'inter',
 'interstellar',
 'into',
 'intrepid',
 'inventor',
 'investig',
 'invis',
 'ip',
 'iri',
 'irish',
 'iron',
 'is',
 'isaac',
 'isabel',
 'it',
 'ivan',
 'jack',
 'jackass',
 'jacki',
 'jacq',
 'jade',
 'jake',
 'jamal',
 'jame',
 'jami',
 'jan',
 'jane',
 'jare',
 'jarhead',
 'jasmin',
 'jason',
 'jay',
 'jealous',
 'jean',
 'jeffrey',
 'jellyston',
 'jenna',
 'jep',
 'jerri',
 'jess',
 'jessica',
 'jesus',
 'jigsaw',
 'jim',
 'jimi',
 'jimmi',
 'joan',
 'joe',
 'joel',
 'joey',
 'john',
 'johnni',
 'join',
 'jonathan',
 'jordan',
 'joseph',
 'josh',
 'josie',
 'juli',
 'julia',
 'julian',
 'juliu',
 'just',
 'justice',
 'justin',
 'kaisa',
 'kale',
 'karl',
 'katherin',
 'katniss',
 'kay',
 'kazakh',
 'keong',
 'kermit',
 'kevin',
 'kid',
 'kidnapp',
 'kindheart',
 'king',
 'kinsey',
 'kline',
 'krishna',
 'kuzco',
 'kyle',
 'la',
 'lac',
 'lara',
 'larisa',
 'larri',
 'last',
 'late',
 'lauri',
 'lawrenc',
 'le',
 'led',
 'lee',
 'left',
 'legendari',
 'legless',
 'less',
 'lestat',
 'lester',
 'level',
 'li',
 'lif',
 'life',
 'lifelong',
 'light',
 'lightheart',
 'lightn',
 'like',
 'lil',
 'lilya',
 'liquid',
 'literatur',
 'liu',
 'live',
 'liz',
 'lizzi',
 'llewelyn',
 'lloyd',
 'lo',
 'lock',
 'lola',
 'london',
 'lone',
 'loner',
 'long',
 'longtim',
 'look',
 'loos',
 'lorrain',
 'lov',
 'love',
 'low',
 'lu',
 'luc',
 'luci',
 'luke',
 'lush',
 'luther',
 'mad',
 'madea',
 'madelin',
 'mafia',
 'maggi',
 'maggie',
 'majo',
 'major',
 'malcolm',
 'mallori',
 'man',
 'mandi',
 'manhattanit',
 'mann',
 'manny',
 'marcel',
 'marcellu',
 'marcu',
 'marguerit',
 'mari',
 'maria',
 'mario',
 'marisa',
 'mark',
 'marshal',
 'marti',
 'martin',
 'mask',
 'master',
 'match',
 'matt',
 'matthew',
 'maurice',
 'maverick',
 'max',
 'maximillian',
 'may',
 'mcmaster',
 'medic',
 'meet',
 'megaforc',
 'megan',
 'melani',
 'melba',
 'melvin',
 'member',
 'men',
 'menac',
 'mental',
 'merchant',
 'mere',
 'meredith',
 'mexican',
 'mia',
 'michael',
 'michel',
 'mickey',
 'middl',
 'midler',
 'mike',
 'mild',
 'mile',
 'milo',
 'milton',
 'mina',
 'mind',
 'minion',
 'minnesota',
 'minni',
 'minor',
 'mirabel',
 'miracl',
 'miser',
 'mitch',
 'mitchel',
 'modern',
 'molière',
 'molli',
 'mom',
 'moment',
 'money',
 'monro',
 'monster',
 'more',
 'morgan',
 'mort',
 'mother',
 'motherhood',
 'movi',
 'mowgli',
 'mr',
 'much',
 'mulder',
 'multi',
 'multipl',
 'mumbl',
 'murderess',
 'murray',
 'music',
 'my',
 'myle',
 'nacho',
 'nada',
 'naiv',
 'nanni',
 'nat',
 'natali',
 'nathan',
 'natur',
 'navi',
 'nazi',
 'neal',
 'nearli',
 'neighbor',
 'nelli',
 'nelson',
 'nemo',
 'nerdi',
 'nervou',
 'new',
 'newli',
 'newly',
 'newlyw',
 'news',
 'nick',
 'nicky',
 'nicol',
 'nicola',
 'nightclub',
 'nine',
 'ninja',
 'no',
 'noah',
 'noni',
 'norma',
 'not',
 'noth',
 'notori',
 'novale',
 'novelist',
 'nypd',
 'obsess',
 'octob',
 'of',
 'offic',
 'officially',
 'old',
 'oliv',
 'olivi',
 'olli',
 'omar',
 'on',
 'onc',
 'one',
 'open',
 'ordinari',
 'orphan',
 'orson',
 'oscar',
 'out',
 'outlaw',
 'over',
 'overachiev',
 'overs',
 'packard',
 'palo',
 'paranorm',
 'pari',
 'paris',
 'parker',
 'parol',
 'passion',
 'patron',
 'patti',
 'patton',
 'paul',
 'peggi',
 'penny',
 'pete',
 'peter',
 'phil',
 'photograph',
 'pianist',
 'pierrot',
 'pinnacl',
 'place',
 'plagu',
 'platinum',
 'play',
 'playboy',
 'pleasantli',
 'pledg',
 'po',
 'pobbi',
 'poland',
 'polar',
 'polic',
 'polit',
 'poor',
 'pooti',
 'pop',
 'porter',
 'pot',
 'power',
 'predominantli',
 'prequel',
 'present',
 'presid',
 'pressur',
 'presum',
 'pride',
 'princess',
 'priscilla',
 'privat',
 'pro',
 'profession',
 'professor',
 'prot',
 'psycholog',
 'publish',
 ...]

In [ ]:
#we will use cosine similiarity for taking out similar movie distance